.about-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.text-contact-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;
}

.profile-pic {
    width: 250px;   
}

.blurb {
    text-align: left;
    max-width: 70%;
}

.intro {
    color: #7D6E83;
    font-weight: bold;
}

.hello {
    font-size: 2.5rem;
    font-family: 'Lora', serif;
}

.contact-buttons img {
    margin-left: 1rem;
}

.contact-buttons a {
    text-decoration: none;
}
