.about-main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-pic {
    width: 300px;
    margin: 50px;    
}

.blurb {
    text-align: left;
    max-width: 30%;
}

.intro {
    color: #7D6E83;
    font-weight: bold;
}

.hello {
    font-size: 2.5rem;
    font-family: 'Lora', serif;
}

.contact_buttons {
    display: flex;
    justify-content: center;
}